@import "tailwindcss";

.top__category__btn{
  @apply p-2 cursor-pointer relative font-semibold capitalize;
}

.top__category__btn::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s;
}

.top__category__btn:hover::after{
  width: 100%;
}
